{% extends 'partials/base.html' %}  <!-- Replace 'base.html' with your base template -->

{% block content %}



<form method="GET" action="{% url 'hourdate' %}">
    <label for="">Custom Date</label><br>

    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ start_d }}">

    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date", value="{{ end_d }}">

    {% csrf_token %}

    <button type="submit">Apply Filter</button>


</form>

{% load static %}
<h5>test </h5>
{% comment %} <div class="logo-image-small">
  <img src="{% static  'assets/img/logo-small.png' %}" alt="Example Image">
</div>   {% endcomment %}

{% comment %} <form action="{% url 'hourdate' %}" method="get">
  <label for="interval">Select Time Interval:</label>
  <select id="interval" name="interval">
      <option value="1" {% if selected_interval == 0.5 %}selected{% endif %}>30 mins</option>
      <option value="1" {% if selected_interval == 1 %}selected{% endif %}>1 Hour</option>
      <option value="3" {% if selected_interval == 3 %}selected{% endif %}>3 Hours</option>
      <option value="6" {% if selected_interval == 6 %}selected{% endif %}>6 Hours</option>
      <option value="12" {% if selected_interval == 12 %}selected{% endif %}>12 Hours</option>
      <option value="24" {% if selected_interval == 24 %}selected{% endif %}>1 day</option>
      <option value="48" {% if selected_interval == 48 %}selected{% endif %}>2 day</option>
      <option value="72" {% if selected_interval == 72 %}selected{% endif %}>3 day</option>
      <option value="96" {% if selected_interval == 96 %}selected{% endif %}>5 day</option>
      <option value="120" {% if selected_interval == 144 %}selected{% endif %}>1 week</option>
      <option value="1200" {% if selected_interval == 1200 %}selected{% endif %}>10 day</option>
  </select>

  <button type="submit">Filter</button>
</form> {% endcomment %}


<button id="refreshButton" onclick="refreshData()">Refresh</button>
<script>
  function refreshData() {
      // Reload the current page
      location.reload();
  }
   
  // Refresh the data every 5 minutes (300000 milliseconds)
  setInterval(refreshData, 300000);
</script>

  




<div class="row mt-3">
    <div class="col-md-9">
        <h3>Alerts App's</h3>
        <div>
            <canvas id="myChart1"></canvas>
        </div>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>
            const ctx_bar = document.getElementById('myChart1').getContext('2d');
          
            new Chart(ctx_bar, {
              type: 'bar',
              data: {
                labels: [{% for product in data %} '{{ product.appd_application_name }}', {% endfor %}],
                datasets: [{
                  label: '# of Apps',
                  data: [{% for product in data %} '{{ product.count }}', {% endfor %}],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
  </div>
</div>




<div class="row mt-3">
    <div class="col-md-9">
        <h3>Alerts Type</h3>
        <div>
            <canvas id="myChart_type"></canvas>
        </div>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>
            const ctx_bar1 = document.getElementById('myChart_type');
          
            new Chart(ctx_bar1, {
              type: 'bar',
              data: {
                labels: [{% for product in selected_hour %} '{{ product.type }}', {% endfor %}],
                datasets: [{
                  label: '# of Type',
                  data: [{% for product in selected_hour %} '{{ product.count }}', {% endfor %}],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
  </div>
</div>


<div class="row mt-9">
  <!-- <div class="col-md-5"> -->
      <h3>Audits severity</h3>
      <div>
          <canvas id="myChart_pie"></canvas>
      </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const ctx_pie = document.getElementById('myChart_pie');
        
          new Chart(ctx_pie, {
            type: 'pie',
            data: {
              labels: [{% for product in severity_data %} '{{ product.severity }}', {% endfor %}],
              datasets: [{
                label: '# of severity',
                data: [{% for product in severity_data %} '{{ product.count }}', {% endfor %}],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        </script>
{% comment %} </div> {% endcomment %}
</div>



<div class="row mt-9">
  <!-- <div class="col-md-5"> -->
      <h3> Top 10 Alerts </h3>
      <div>
          <canvas id="myChart_topfive"></canvas>
      </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const ctx_topfive = document.getElementById('myChart_topfive');
        
          new Chart(ctx_topfive, {
            type: 'bar',
            data: {
              labels: [{% for product in topfive %} '{{ product.appd_application_name }}', {% endfor %}],
              datasets: [{
                label: 'Top 5 application',
                data: [{% for product in topfive %} '{{ product.count }}', {% endfor %}],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        </script>
{% comment %} </div> {% endcomment %}
</div>



<div class="row mt-9">
  <!-- <div class="col-md-5"> -->
      <h3>Bottom 10 Alerts</h3>
      <div>
          <canvas id="myChart_bottomfive"></canvas>
      </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const ctx_bottomfive = document.getElementById('myChart_bottomfive');
        
          new Chart(ctx_bottomfive, {
            type: 'bar',
            data: {
              labels: [{% for product in bottomfive %} '{{ product.appd_application_name }}', {% endfor %}],
              datasets: [{
                label: 'Bottom Five apps',
                data: [{% for product in bottomfive %} '{{ product.count }}', {% endfor %}],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        </script>
{% comment %} </div> {% endcomment %}
</div>





{% endblock %}

{% comment %} <table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Value</th>
            <th>severity</th>
            <!-- Add more table headers for additional fields -->
        </tr>
    </thead>
    <tbody>
        {% for item in type %}
        <tr>
            <td>{{ item.type }}</td>
            <td>{{ item.count }}</td>
            <!-- Add more table cells for additional fields -->
        </tr>
        {% endfor %}
    </tbody>
</table> {% endcomment %}

{% comment %} <table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Value</th>
            <th>severity</th>
            <!-- Add more table headers for additional fields -->
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.appd_application_name }}</td>
            <td>{{ item.count }}</td>
            <!-- Add more table cells for additional fields -->
        </tr>
        {% endfor %}
    </tbody>
</table> {% endcomment %}


